body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    line-height: 20px;
    font-size: 15px;

}

ul {
    padding: 0;
    margin: 0;

}

li {
    display: inline-block;
}

a {
    color: #000;
    display: inline-block;
    text-decoration: none;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #e8ebf1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.07);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header__logo a,
.footer__logo a {
    color: #2aacc8;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.header__logo a span,
.footer__logo a span {
    color: #000;
    font-weight: 700;
}

.header__menu {
    margin-right: 20px;
}

.header__menu li + li {
    margin-left: 50px;
}

.header__menu a {
    font-family: 'arial', sans-serif;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 9px;
    padding-bottom: 13px;
}

.header__drop-down.drop-down {
    margin-left: 39px;
}

.header__drop-down.drop-down + header__drop-down.drop-down {
    margin-left: 12px;
}

.header__drop-down.drop-down + header__link-blog {
    margin-left: 20px;
}

.header__drop-down .drop-down__list li {
    margin-left: 0;
}

.drop-down__list {
    display: none;
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid rgb(232, 235, 241);
    border-bottom: 5px solid #2aacc8;
    border-top: none;
    box-shadow: 0px 5px 0px 0px rgba(42, 172, 200, 0.004);
    padding: 10px 5px;
    z-index: 5;
}

.drop-down__list a {
    padding: 12px 0 12px 10px;
    font-weight: 400;
    display: block;
    text-transform: none;
}

.drop-down__list a:hover {
    color: #2aacc8;
}

.drop-down__list li + li a {
    border-top: 1px solid #e7e7e7;
}

.header__drop-down {
    position: relative;
}

.header__drop-down > a {
    position: relative;
    padding-left: 11px;
    padding-right: 26px;
    border-top: 5px solid transparent;
}

.header__drop-down > a::after {
    content: "";
    position: absolute;
    background-image: url(../img/down-arrow.png);
    width: 7px;
    height: 5px;
    top: 15px;
    right: 8px;

}

.header__drop-down.drop-down:hover .drop-down__list {
    display: block;
}

.header__drop-down.drop-down:hover > a {
    color: #2aacc8;
    border-top: 5px solid #2aacc8;
    background-color: #fff;
    transition: all .3s;
}

.slider {
    background-color: #81e4ed;
    padding: 20px 0 10px;
}

.slider__item {
    background-image: url("../img/slider-bg.png");
    min-height: 440px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__item-title {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    width: 300px;
    margin-left: 60px;
    padding-top: 90px;
    line-height: 60px;
}



.slick-dots li button {
    width: 14px;
    height: 14px;
    background-color: rgba(98, 98, 98, 0.5);
    border-radius: 50%;
}

.slick-dots li.slick-active button {
    background-color: #fff;
}

.slick-dots li button:before {
    display: none;
}

.slick-dots li {
    margin: 0 9px;
    width: auto;
    height: auto;
}

.items {
    background-color: #e8ebf1;
    padding: 60px 0 50px;
    border-bottom: 1px solid #d9d9d9;
}

.items__inner {
    display: flex;
    justify-content: space-between;
}

.item {
    font-family: 'Arial', sans-serif;
    width: 225px;
}

.item__title {
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 0 0 60px;
    margin-bottom: 30px;
    position: relative;
}
.item__icons {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #2aacc8;
    border-radius: 50%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item__text {
    font-size: 13px;
    color: #363636;
    margin-bottom: 25px;
}

.item__link {
    color: #2aacc8;
    padding-left: 15px;
    font-size: 13px;
    position: relative;
}

.item__link::before {
    content: " ";
    position: absolute;
    background-image: url(../icons/arrow-right.svg);
    left: 0;
    top: 7px;
    width: 5px;
    height: 7px;

}

.works__title,
.testimonials__title,
.clients-logo__title {
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px 0 15px 40px;
    position: relative;
    font-family: 'arial', sans-serif;
}

.works__title::before,
.testimonials__title::before,
.clients-logo__title::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 20;
    background-image: url(../icons/cursor.svg);
    width: 14px;
    height: 24px;
}



.works__inner {
    display: flex;
    padding: 20px 0 40px;
    border-top: 1px solid #dfe1e5;
    border-bottom: 1px solid #dfe1e5;
}
.works__inner-item {
    text-align: center;
}

.slick-arrow {
    height: 20px;
    width: 20px;
    background-color: #2aacc8;
    border-radius: 50%;
    
}

.slick-arrow::before {
    display: none;
}

.slick-arrow:hover, .slick-arrow:focus {
    background-color: #2aacc8;
}

.slick-next {
    top: -27px;
    right: 0;
}

.slick-prev {   
    top: -37px;
    right: 31px;  
    left: auto;
    transform: scale(-1, 1);
}

.works__inner-box {
    display: inline-block;
    position: relative;
    
}

.works__inner-link {
    background-color: #2aacc8;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: all .5s;
}
.works__inner-link a {
    margin: 0 15px;
}
.works__inner-box:hover .works__inner-link {
    height: 50%;
    
}

.slick-list {
    margin-left: -25px;
    margin-right: -25px;    
}

.clients {
    padding: 0 0 40px;
    font-family: 'arial', sans-serif;

}

.clients__inner {
    display: flex;
    justify-content: space-between;
}

.testimonials {
    max-width: 440px;
}

.testimonials__title {
    
}

.testimonials__title::before {
    background-image: url("../icons/message.svg");
    width: 24px;
    height: 23px;

}

.clients-logo__title::before {
    background-image: url("../icons/clients.svg");
    width: 24px;
    height: 20px;
}
.testimonials p {
    font-size: 14px;
    line-height: 24px;
    color: #363636;
}
.testimonials span {
    display: block;
    padding-top: 30px;
    font-weight: 700;
    font-style: italic;
}

.download {
    margin-top: 40px;
    padding: 30px 40px 30px 30px;
    border: 1px solid #81e4ed;
    background-color: #e8fcfe;
    display: flex;
    justify-content: space-between;
}
.download__text {
    font-size: 16px;
    line-height: 26px;
    color: #363636;
    max-width: 620px;
}
.download__btn a {
    border: 1px solid rgb(42, 172, 200);
    border-radius: 8px;
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2),inset 0px 2px 1px 0px rgba(255, 255, 255, 0.1);
    background-image: linear-gradient( 0deg, rgb(42,172,200) 0%, rgb(96,206,222) 15%, rgb(114,218,230) 50%, rgb(129,228,237) 100%);
    padding: 20px 20px 20px 70px;
}

.download__btn a::before {
    content: " ";
    position: absolute;
    background-image: url(../icons/download.svg);
    width: 29px;
    height: 26px;   
    left: 19px;
    top: 16px;
}

.footer {
    background-color: #e8ebf1;
    padding-top: 30px;
    padding-bottom: 40px;
    border-top: 1px solid #d9d9d9;
    font-family: 'arial', sans-serif;
}
  
.footer__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.footer__items-title {
    font-weight: 700;
    text-transform: uppercase;

}

.footer__item-content {
    width: 240px;
}

.footer__items-text {
    padding-top: 25px;
    font-size: 14px;
    color: #363636;
}

.footer__item-list {
    width: 115px;
}

.footer__list {
    padding-top: 10px;
}

.footer__list li {
    display: block;
}
.footer__list a {
    color: #363636;
    font-size: 14px;
    line-height: 26px;
}

.footer__item-contact {
   width: 150px;

}

.footer__adress {
    padding-top: 25px;
    color: #363636;
    font-size: 14px;
    margin-bottom: 16px;
}

.footer__adress span {
    display: block;
    font-weight: 700;
}

.footer__phone {
    font-size: 14px;
    color: #363636;
}

.footer__item-social {
    width: 185px;
}

.footer__social {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;

}

.footer__copy {
    color: #363636;
    max-width: 650px;
    font-size: 13px;
    line-height: 18px;
}